* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Signika', sans-serif;
}

/* || INTRO PAGE || */

.logo {
    width: 50px;
    margin-left: 230px;
    cursor: pointer;
    transition: 0.8s;
}

header {
    box-sizing: border-box;

}

nav {
    display: flex;
    align-items: center;
    margin-top: -15px;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, .8);
}

header ul {
    display: flex;
    position: relative;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    font-size: 20px;

}

header ul li {
    padding: 20px 15px 25px 20px;

}

header ul a {
    text-decoration: none;
    color: rgb(126, 119, 119);
    letter-spacing: 1.5px;
    transition: 0.5s;
}

header ul a:hover {
    color: white;
}

.download-btn1 {
    position: relative;
    margin-left: 200px;
    text-decoration: none;
    margin-top: 17px;
    padding: 10px 15px 10px 15px;
    border: solid blue 1px;
    border-radius: 20px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.download-btn1:hover {
    background: var(--clr);
/*     letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr); */
    
}

.downlode-btn2 {
    position: relative;
    margin-left: 20px;
    text-decoration: none;
    margin-top: 17px;
    padding: 10px 15px 10px 15px;
    background-color: red;
    color: white;
    border-radius: 20px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.downlode-btn2:hover {
    background: var(--clr);
/*     letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr); */
}

.heading {
    position: relative;
    text-align: center;
    margin-top: 70px;
    color: #183b56;
}

h1 {
    font-size: 75px;
    letter-spacing: 1px;
}

h4 {
    margin-top: 15px;
    font-size: 27px;
    font-weight: 200;
}

.btns {
    position: relative;
    display: flex;
    top: 50px;
    justify-content: center;
}

.apple-logo {
    display: flex;
    border: solid #163953 1px;
    background-color: #183b56;
    border-radius: 12px;
    padding: 15px 20px 15px 0px;
    width: 150px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.apple-logo ion-icon {
    margin-left: 10px;
    font-size: 35px;
}

.apple-logo:hover {
    background-color: #094d81;
    box-shadow: 0px 0px 30px #094d81;
}

.apple-logo h5 {
    margin-left: 6px;
}

.play-btn {
    margin-left: 20px;
}

.play-logo {
    display: flex;
    border: solid #163953 1px;
    background-color: #183b56;
    border-radius: 12px;
    padding: 15px 20px 15px 0px;
    width: 150px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.play-logo ion-icon {
    margin-left: 10px;
    font-size: 35px;
}

.play-logo:hover {
    background-color: #094d81;
    box-shadow: 0px 0px 30px #094d81;
}

.play-logo h5 {
    margin-left: 6px;
}

.communication-img {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.communication-img img {
    width: 65%;
}

.row {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.pay-better {
    width: 400px;
    text-align: center;
}

.pay-better ion-icon {
    position: relative;
    font-size: 110px;
    text-align: center;
    color: #418b78;
}

.pay-better h3 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #183b56;
}

.pay-better p {
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
    color: #424767;
}

.track-better {
    width: 400px;
    text-align: center;
}

.track-better ion-icon {
    position: relative;
    font-size: 110px;
    text-align: center;
    color: #418b78;
}

.track-better h3 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #183b56;
}

.track-better p {
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
    color: #424767;
}

.shop-better {
    width: 400px;
    text-align: center;
}

.shop-better ion-icon {
    position: relative;
    font-size: 110px;
    text-align: center;
    color: #418b78;
}

.shop-better h3 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #183b56;
}

.shop-better p {
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
    color: #424767;
}

/* || END INTRO PAGE || */

/* .About-page{
    position:static;
    z-index: 99;
} */

.second-page-heading {
    text-align: center;
    margin-top: 150px;
}

.second-page-heading h1 {
    font-size: 50px;
    color: #183b56;
    font-weight: 100;
    margin-bottom: 20px;
}

.second-page-heading p {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #424767;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.img-container img {
    width: 40%;
}

.heading-paragraph1 {
    margin-top: 80px;
}

.img-container h1 {
    font-size: 40px;
    color: #183b56;

}

.p-one {
    margin: 0px 0px 15px 0px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #424767;
}

.p-two {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #424767;
}

.learn-more-btn {
    display: flex;
    width: 142px;
    text-decoration: none;
    background-color: #094d81;
    border: solid #0d202e 1px;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    color: rgb(232, 230, 227);
    transition: 0.5s;
}

.learn-more-btn:hover {
    background-color: #102638;
    box-shadow: 0px 0px 30px #094d81;
}

.learn-more-btn h5 {
    font-size: 20px;
    margin-right: 6px;
    font-weight: 300;
}

.learn-more-btn i {
    font-size: 20px;
}



.img-container1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.img-container1 img {
    width: 40%;
}

.img-container1 h1 {
    font-size: 40px;
    color: #183b56;

}

.p1 {
    margin: 0px 0px 15px 0px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #424767;
}

.p2 {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #424767;
}

.learn-more-btn1 {
    display: flex;
    width: 142px;
    text-decoration: none;
    background-color: #094d81;
    border: solid #0d202e 1px;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    color: rgb(232, 230, 227);
    transition: 0.5s;
}

.learn-more-btn1:hover {
    background-color: #102638;
    box-shadow: 0px 0px 30px #094d81;
}

.learn-more-btn1 h5 {
    font-size: 20px;
    margin-right: 6px;
    font-weight: 300;
}

.learn-more-btn1 i {
    font-size: 20px;
}

.three-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box1 {
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    width: 300px;
    height: 165px;
    padding: 10px 0px 0px 30px;
    margin-right: 30px;
}

.box1 h1 {
    color: #183b56;
    font-weight: 300;
}

.box1 p {
    color: #424767;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.box2 {
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    width: 300px;
    height: 165px;
    padding: 10px 0px 0px 30px;
    margin-right: 30px;
}

.box2 h1 {
    color: #183b56;
    font-weight: 300;
}

.box2 p {
    color: #424767;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.box3 {
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    width: 300px;
    height: 165px;
    padding: 10px 0px 0px 30px;
}

.box3 h1 {
    color: #183b56;
    font-weight: 300;
}

.box3 p {
    color: #424767;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.h2 {
    text-align: center;
    color: #183b56;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.brand-logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    cursor: pointer;
}

.brand-logos i {
    font-size: 5rem;
    color: #183b56;
}

/* || END ABOUT PAGE || */

/* || TESTIMONIALS PAGE || */

.third-page-heading {
    text-align: center;
    margin-top: 100px;
}

.third-page-heading h1 {
    font-size: 50px;
    color: #183b56;
    font-weight: 300;
    margin-bottom: 20px;
}

.third-page-heading p {
    font-size: 25px;
    color: #424767;
    font-weight: 300;
    letter-spacing: 1px;
}

.brands-logo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 150px;
}

.airbnb {
    width: 333px;
    height: 340px;
    text-align: center;
    border-radius: 10px;
    border: .0625rem solid #cddaec
}

.airbnb img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.airbnb i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.airbnb p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #424767;
}

#book1 {
    color: white;
}

.airbnb i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.corsair {
    width: 333px;
    height: 340px;
    border-radius: 10px;
    text-align: center;
    margin-top: -70px;
    border: .0625rem solid #cddaec;

}

.corsair img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.corsair i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.corsair p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #424767;
}

#book2 {
    color: white;
}

.corsair i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.paypal {
    width: 333px;
    height: 340px;
    border-radius: 10px;
    text-align: center;
    border: .0625rem solid #cddaec;

}

.paypal img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.paypal i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.paypal p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #424767;
}

#book3 {
    color: white;
}

.paypal i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.brands-logo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.ebay {
    width: 333px;
    height: 340px;
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    text-align: center;
    float: bottom;
}

.ebay img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.ebay i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.ebay p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    color: #424767;
    letter-spacing: 1px;
    font-weight: 300;

}

#book4 {
    color: white;
}

.ebay i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.university {
    width: 333px;
    height: 340px;
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    text-align: center;
    margin-top: -55px;

}

.university img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.university i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.university p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    color: #424767;
    letter-spacing: 1px;
    font-weight: 300;

}

#book5 {
    color: white;
}

.university i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.elastic {
    width: 333px;
    height: 340px;
    border: .0625rem solid #cddaec;
    border-radius: 10px;
    text-align: center;

}

.elastic img {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.elastic i {
    color: rgb(255, 199, 30);
    cursor: pointer;
}

.elastic p {
    margin: 20px 0px 25px 0px;
    font-size: 19px;
    font-weight: 300;
    color: #424767;
    letter-spacing: 1px;
}

#book6 {
    color: white;
}

.elastic i span {
    margin-left: 12px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

/* || END TESTIMONIALS PAGE || */

/* || START FAQ PAGE || */

.fourth-page-heading {
    text-align: center;
    margin-top: 150px;
}

.fourth-page-heading h1 {
    font-size: 50px;
    color: #183b56;
    font-weight: 100;
    margin-bottom: 20px;
}

.fourth-page-heading p {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #424767;
}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.summary-item {
    background-color: #102638;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.summary-link {
    font-size: 1.6rem;
    color: rgb(152, 195, 225);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.summary-link ion-icon {
    color: #e7d5ff;
    padding: .5rem;
}

.icon2 {
    display: none;
}

.paragraph {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}

.paragraph::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.paragraph p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    padding: 2rem;
}

.summary-item:target .paragraph {
    max-height: 20rem;

}

.summary-item:target .summary-link ion-icon {
    display: none;
}

.summary-item:target .summary-link .icon2 {
    display: block;
}

/* || END FAQ PAGE || */

/* || START DOWNLODE PAGE || */



.img-container3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: #eff1f5 !important;
}

.img-container3 img {
    width: 40%;
}

.heading-paragraph3 {
    margin-top: 80px;
}

.heading-paragraph3 span {
    font-size: 35px;
    color: #424767;
}

.img-container3 h1 {
    font-size: 50px;
    color: #183b56;

}

.p-three {
    margin: 0px 0px 15px 0px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #424767;
}

.btns1 {
    position: relative;
    display: flex;
    left: -100px;
    top: 50px;
    justify-content: center;
}

.apple-logo1 {
    display: flex;
    border: solid #163953 1px;
    background-color: #094d81;
    border-radius: 12px;
    padding: 15px 20px 15px 0px;
    width: 150px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.apple-logo1 ion-icon {
    margin-left: 10px;
    font-size: 35px;
}

.apple-logo1:hover {
    background-color: #102638;
    box-shadow: 0px 0px 30px #094d81;
}

.apple-logo1 h5 {
    margin-left: 6px;
}

.play-btn1 {
    margin-left: 20px;
}

.play-logo1 {
    display: flex;
    border: solid #163953 1px;
    background-color: #094d81;
    border-radius: 12px;
    padding: 15px 20px 15px 0px;
    width: 150px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.play-logo1 ion-icon {
    margin-left: 10px;
    font-size: 35px;
}

.play-logo1:hover {
    background-color: #102638;
    box-shadow: 0px 0px 30px #094d81;
}

.play-logo1 h5 {
    margin-left: 6px;
}

footer {
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-paragraph p {
    color: #4e698b;
    font-weight: 100;
    font-size: 20px;
}

.footer-paragraph i {
    font-size: 30px;
}

#twitter {
    color: #1da1f2;
    margin-right: 9px;
}

#facebook {
    color: #3b5999;
    margin-right: 9px;
}

#github {
    color: #222;
    margin-right: 9px;
}

#dribble {
    color: #ea4c89;
}

.footer-links h5 {
    color: #292e4e;
    letter-spacing: 1px;
    font-size: 20px;
}

.footer-item {
    list-style: none;
    padding: 8px 0px 0px 0px;
    font-size: 20px;
}

.footer-item a:hover {
    color: #3045ca;
}

.footer-item a {
    text-decoration: none;
    color: #424767;
    transition: 0.5s;
}

.subscribe-btn h1 {
    color: #292e4e;
    font-size: 30px;
}

.subscribe-btn input {
    width: 300px;
    height: 40px;
    border: .0625rem solid #cddaec;
    border-radius: 8px;
    padding: 8.8px;
    font-size: 1rem;
    color: #0a176b;
}

.subscribe-btn a {
    display: inline-block;
    text-decoration: none;
    background-color: #094d81;
    color: white;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    padding: 4.8px 8.8px 8.8px 8.8px;
    transition: 0.5s;
}

.subscribe-btn a:hover {
    background-color: #102638;
    box-shadow: 0px 0px 10px #094d81;
}

.subscribe-btn p {
    color: #4e698b;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 5px;
}

.footer-img {
    text-align: center;
    margin-top: 65px;
}

.footer-img a img {
    width: 25px;
    margin-bottom: 5px;
}

.footer-img p {
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #4e698b;
}

.stikeybox {
    width: 250px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .45rem !important;
    border: .0625rem solid #cddaec;
    display: flex;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 100;
}

.stikeybox h5 {
    font-size: 18px;
    font-weight: 100;
    color: #4e698b;
}

.stikeybox i {
    color: red;
    margin-left: 6px;
    margin-right: 10px;
}

.star-btn {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
}

.star {
    text-decoration: none;
    background-color: #292e33;
    width: 60px;
    padding: 3px;
    color: white;
    font-weight: 100;
    margin-right: 1px;
    transition: 0.5s;
}

.star:hover {
    background-color:rgb(72, 67, 67);
    
}

.stikeybox a i {
    color: white;
    margin-right: 2px;
}

.one-four {
    background-color: #0d1117;
    width: 35px;
    padding: 3px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    transition: 0.5s;
}

.one-four:hover{
    background-color:rgb(72, 67, 67);
}

.arrow{
    position: fixed;
    bottom: 25px;
    right: 25px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.5s;
}

.arrow:hover{
    background-color: rgb(192, 192, 192);
    height: 49px;
}

.arrow a i{
    font-size: 35px;
    margin-top: 6px;
    color: rgb(82, 124, 18);
}

/* || END WEBSITE || */

